.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-lg {
  display: none;
}

@media (min-width: 768px) {
  .about-img-sm {
    display: none;
  }
  .about-img-lg {
    display: flex;
  }
}
