.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img-lg {
  display: none;
}

@media (min-width: 768px) {
  .home-img-sm {
    display: none;
  }
  .home-img-lg {
    display: flex;
  }
}
